body {
  max-width: 80vw;
  margin: auto;
  border: 1px solid;
  margin-top: 5vh;
  margin-bottom: 5vh;
  padding: 15px;
  position: relative;
}
h1 {
  display: flex;
  justify-content: center;
}
a {
  color: coral;
  text-align: center;
  display: flex;
  justify-content: center;
  text-decoration: none;
}
img {
  height: 120px;
  width: 150px;
  object-fit: cover;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-left: 40px;
  padding: 10px;
}
/* table, */
tr,
th,
td {
  border: 2px solid;
  border-collapse: collapse;
  border-radius: 5px;
  /* width: 12%; */
}
th {
  border: 2px solid rgb(28, 185, 28);
}
table {
  border: 2px solid;
  /* border-collapse: collapse; */
  border-radius: 10px;
}
#table {
  width: 80%;
  /* display: flex;
  justify-content: center; */
  margin: auto;
  /* height: 200px; */
  margin-bottom: 30px;
}
table {
  width: 100%;
  height: 100%;
}
.applyBorder {
  border: 1px solid;
}
p {
  margin-bottom: 15px;
}
.changeText {
  font-size: 1.2em;
  font-weight: bold;
}
.hideContent {
  border: 1px sold;
  display: none;
}
td {
  border: 2px solid rgb(28, 185, 28);
  width: 50px;
  height: 60px;
}
tr {
  border: 2px dotted red;
}
#footer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}
#copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-weight: bold;
  font-size: 1.2em;
  bottom: 0;
  /* left: 50%; */
  background-color: lightgreen;
  width: 100%;
  padding-left: 0;
  text-align: center;
  height: 40px;
}
#social-media {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
#deleteTd {
  display: block;
  margin: auto;
  background-color: lightgreen;
  border-radius: 6px;
  /* border-color: coral; */
}
#buttons {
  margin: auto;
  margin-left: 35%;
  margin-bottom: 10px;
}
#orderedList {
  display: block;
  margin-left: 45%;
  margin-top: 30px;
  margin-bottom: 30px;
}
#nestedPar {
  margin-left: 45%;
  margin-top: 30px;
  margin-bottom: 30px;
}
#nestedList {
  margin-left: 45%;
  margin-top: 30px;
  margin-bottom: 30px;
}
#myBtn1 {
  margin-left: -15px;
}
#myBtn2 {
  margin-left: -40px;
}
button {
  background-color: lightgreen;
  border-radius: 6px;
}
button:hover {
  background-color: rgb(12, 37, 12);
  color: white;
}
